<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="styles.css" />
    <title>{{title}}</title>
</head>
<body>
   <div id="header">
       <h1>{{header_title}}</h1>
   </div>
    

</body>
</html>