<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="styles.css" />
    <title>{{title}}</title>
</head>
<body>
   <div class="sidebar">
      <a href="#popular">{{popular}}</a>
      <a href="#b">{{blabla}}</a>
      <a href="#clients">{{blabla}}</a>
      <a href="#contact">{{blabla}}</a>
   </div>
    

</body>
</html>